// Bootstrap icons 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import "theme.scss";
//fira_code for editors
@import url('fira_code.css');
//variables

// mixins

@mixin boostrap_icon($icon: "\f333") {
    content: $icon;
    font-family: 'bootstrap-icons' !important;
    font-style: normal;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.25rem;
}

@mixin notable_div($color: rgb(255, 255, 255)) {
    padding: 0 1.3rem;
    border: 1.5px solid mix($color, #000, 80%);
    border-width: 1.5px 0;
    margin-bottom: .5rem;
    background-color: mix($color, #fff, 20%);

    h6 {
        margin: 0 -1.3rem;
        margin-bottom: 0.2rem;
        font-style: italic;
        font-size: 1.2rem;
        text-align: right;
        padding-right: 1.3rem;
        padding-bottom: 0.3em;
        border-bottom: 2px solid darken($color, 30);
        background-color: $color;
        color: #000;
    }

}

// 

html {
    font-size: 14px;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background-image: url('../img/fond-cours.png');
    background-attachment: fixed;
    counter-reset: ch3 0 ch4 0 chapitre 0;
    color: #000000;

    /* code . Why does reboot give pink color to code ??? */
    code {
        color: #eee;
        background-color: #333;
        padding: 0 0.2em;
    }

    /* Navigation */

    #navbar-main .container {
        border-bottom: 1px solid #aaa;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
        padding-bottom: 0.5rem;
        margin-bottom: -0.5rem;
        padding-top: 0.5rem;
        margin-top: -0.5rem;
        background-color: #ffffff;
    }

    .navbar .dropdown-item {
        font-weight: lighter;
    }

    .navbar-brand {
        font-size: 1rem;
        font-weight: lighter;
    }

    .navbar small {
        font-size: 0.8rem;
        font-style: italic;
    }

    li.chapitres a::before {
        content: counter(chapitre);
        display: inline;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        padding: 5px 9px;
        margin-right: 0.5ex;
        counter-increment: chapitre;
    }

    .nav-cours button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        ;
    }

    main {
        padding-top: 75px;
        padding-bottom: 65px;
        min-height: 100%;
    }


    footer {
        margin-top: -63px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    }

    h1 {
        font-weight: 100;

    }

    .row>bloc-cours,
    .row>bloc-todo,
    .row>bloc-attention,
    .row>bloc-retenir,
    .row>bloc-info,
    .row>bloc-remarque {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    div.cours {
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.97);

        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0.5rem;

        h2 {
            padding-top: .5rem;
            padding-bottom: .5rem;
            text-align: center;
            font-weight: lighter;
            margin: 0;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: lighter;
            margin-right: 0.2rem;
            padding-top: 20px;
            padding-bottom: 10px;
            margin: 0;
            font-weight: lighter;
            border-bottom: 1px solid #aaa;
            counter-reset: ch4;

        }

        h3::before {

            counter-increment: ch3;
            content: counter(ch3) '. ';
        }

        h4 {
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: lighter;
            font-style: italic;
        }


        h4::before {
            counter-increment: ch4;
            /* content: counter(ch3) "."counter(ch4, lower-alpha) " "; */
        }

        pre {
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    }

    @each $component,
    $color in $educinfo-colors {
        div.#{$component} {
            @include notable_div($color);

            &>h6::before {
                @include boostrap_icon(map-get($educinfo-icons, $component));
            }
        }
    }

    /* Programmation avec Basthon */

    div.essais {
        padding: 1rem 1.2rem;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }


    /* helpers */
    .table-nonfluid {
        width: auto !important;
        margin-left: auto;
        margin-right: auto;
    }

    p a {
        text-decoration: none;
    }

    .no-collapse::after,
    .no-collapse::before {
        display: table;
        content: '';
    }


    /* Modal */

    div.modal {

        background-color: rgba(228, 228, 228, 0.2);

        .modal-content{
        background-color: #EEE;
        }

        #consigne {
            float: none;
            width: 100%;
            height: 35rem;
            height: calc(100vh - 20.5rem);
            min-height: 15rem;
            border-radius: 0.6vw;
            margin: 0px;
            padding-top: 0px;
            font-size: 10pt;
            overflow: auto;
        }

        #blocklyArea {
            width: 100%;
            height: 35rem;
            height: calc(100vh - 20.5rem);
            min-height: 15rem;
        }

        .blocklyWidgetDiv,
        .blocklyTooltipDiv,
        .blocklyDropDownDiv {
            position: absolute;
            display: none;
            z-index: 9999 !important;
        }

        #editor {
            float: none;
            width: 100%;
            height: 35rem;
            height: calc(100vh - 20.5rem);
            min-height: 15rem;
            border-radius: 0.6vw;
            margin: 0px;
            padding-top: 0px;
            font-family: 'Fira Code', Consolas, Monaco, "Lucida Console", Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, "Courier New", monospace;
            font-size: 13pt;
        }

        #shell {
            position: relative;
            width: 100%;
            height: 35rem;
            height: calc(100vh - 20.5rem);
            min-height: 15rem;
            float: none;
            resize: none;
            font-family: 'Fira Code', Consolas, Monaco, "Lucida Console", Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, "Courier New", monospace;
            font-size: 12pt;
            font-weight: lighter;
            margin: 0px;
            border-radius: 0.6vw;
            border-width: 0px;
        }

        .shellInterior {
            border: 1px solid #aaa;
            border-radius: 10px;
            margin: 0;
            padding: 0.5rem;
            min-height: 100%;
        }

        .terminal {
            --size: 1.333;
        }

        #graphics {
            position: relative;
            width: 100%;
            height: 35rem;
            height: calc(100vh - 20.5rem);
            min-height: 15rem;
            float: none;
            flex: initial;
            background-color: #eee;
            resize: none;
            box-sizing: border-box;
            margin-bottom: 0px;
            padding: 0px;
            border-style: dotted;
            border-color: #272822;
            border-radius: 0.6vw;
            border-width: 0.25vw;
            font-size: 12pt;
            overflow: auto;
        }

        /* erreur dans la modal */

        #pythonModal .alert pre {
            margin: 0;
        }


        /* Les consignes dans les modales */
        div.afaire {
            font-size: 16px;
            color: #111;
            background: rgba(255, 255, 200, 0.75);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            margin-top: 1ex;
            margin-bottom: 1ex;
            padding-bottom: 0;

            border-radius: 10px;
            
            h2 {
                font-size: 2em;
                margin: 35px 0 5px 0;
            }

            h3 {
                font-size: 1.8em;
                margin: 30px 0 5px 0;
            }

            h4 {
                font-size: 1.5em;
                margin: 25px 0 5px 0;
            }

            h5 {
                font-size: 1.2em;
                margin: 20px 0 5px 0;
                font-weight: bold
            }

            h6 {
                font-size: 1em;
                font-weight: bold;
                margin: 20px 0 5px 0;
            }

            ol.steps {
                list-style-type: none;
                padding-left: 60px;
                margin: 10px 0 10px 0;
                counter-reset: step-counter;
            }

            ol.steps>li {
                position: relative;
                margin: 0 0 8px 0;
                min-height: 40px;
            }

            ol.steps>li::before {
                transform: scale(0.9) translateY(-25%);
            }


            ol.steps>li h6 {
                font-size: 1.5em;
                font-weight: normal;
                color: rgba(0, 0, 0, 0.6)
            }

            ol.steps>li p {
                line-height: 110%
            }

            ol.steps>li:before {
                content: counter(step-counter);
                counter-increment: step-counter;
                position: absolute;
                left: -60px;
                font-size: 16px;
                border: solid 2px rgba(0, 0, 0, 0.4);
                border-radius: 50%;
                padding: 4px 10px;
                opacity: .5;
                top: 2px
            }

            a {
                color: #357548
            }

            a:hover {
                color: #246036
            }

            p,
            li {
                color: rgba(0, 0, 0, 0.9)
            }

            p {
                line-height: 125%
            }

            .tip {
                background: rgba(0, 0, 0, 0.1);
                padding: 10px 14px;
                border-radius: 2px
            }

            hr {
                border: none;
                border-bottom: solid 2px #C9B45B;
                margin: 25px 0
            }

            p,
            ol,
            ul {
                margin: 10px 0 20px 0
            }

            li {
                margin: 0 0 10px 0
            }

            img {
                display: block;
                margin: 5px 0 10px;
                border: solid 5px white;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            }
        }
    }

    bloc-python {

        div[role='consignes'] {
            pre {
                margin-bottom: 0;
            }
        }

        h3 {
            margin-top: 0.4rem;
            border-bottom: 1px solid #555;
        }

        div.graphic {
            margin: auto;
            padding: 0.5rem;

            canvas {
                margin: auto;
                background-color: white;
            }

        }


        div.graphic canvas:first-child {
            background: none;
        }

        div[role='result'] {
            border-radius: 10px;
            padding: 10px;
            min-height: 30rem;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            background-color: #AAA;
            color: #252;
            font-family: 'Courier New', Courier, monospace;
        }

        div[role='result'].pyexec-small {
            min-height: 7.5rem;
        }

        div[role='result'].pyexec-fixed {
            height: 30rem;
            overflow: auto;
        }


        div[role='result'].pyexec-fixed.pyexec-small {
            height: 7.5rem;
            overflow: auto;
        }

        div[role='graphic'] {
            border-radius: 10px;
            padding: 10px;
            min-height: 30rem;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            background-color: #EEE;

            svg {
                padding: 0 !important;
                transform: scale(0.9);
            }

        }

        div[role='graphic'].pyexec-small {
            min-height: 7.5rem;
        }

        div[role='editor'] {
            margin-top: 0.3rem;
            min-height: 27.5rem;
        }

        div.pyexec-small[role='editor'] {
            min-height: 5rem;
        }

        div.actions {
            text-align: right;

            button {
                margin-bottom: 0.3rem;
                font-size: smaller;
            }
        }

        canvas {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            margin: auto;
        }
    }

    div.inside>p {
        margin-top: .5rem !important;
    }
}