// main colors
$abstract :#eafbb3;
$resume: $abstract;
$note: #97bcfc;
$info: $note;
$remarque: $note;
$tip: #828992;
$exemple: #b4ffbf;
$todo: #f6ff7b;
$afaire: $todo;
$consigne: $todo;
$correction: #c66dfc;
$retenir: #64bbfd;
$attention: #ffc445;
$succes: #00ff00;
$echec: #ff0000;
$danger: $echec;
$bug : $echec;
$citation: #c7c7c7;

// color mapping
$educinfo-colors: ("abstract":$abstract,
    "resume":$resume,
    "note": $note,
    "info": $info,
    "remarque": $remarque,
    "tip": $tip,
    "exemple": $exemple,
    "todo": $todo,
    "afaire": $afaire,
    "consigne": $consigne,
    "correction": $correction,
    "retenir": $retenir,
    "attention": $attention,
    "succes": $succes,
    "echec": $echec,
    "danger": $danger,
    "bug ": $bug,
    "citation": $citation,
);

// icon mapping
$educinfo-icons: ("abstract":"\f41f",
    "resume":"\f41f",
    "note": "\f46b",
    "info": "\f46b",
    "remarque": "\f46b",
    "tip": "\f18a",
    "exemple": "\f52a",
    "todo": "\f604",
    "afaire": "\f604",
    "consigne": "\f604",
    "correction": "\f43e",
    "retenir": "\f1e2",
    "attention": "\f67b",
    "succes": "\f633",
    "echec": "\f62a",
    "danger": "\f67b",
    "bug ": "\f1dc",
    "citation": "\f255"
);