<!doctype html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- remix icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <title>{{titre}}</title>

  {% block headExtension %}
  {% endblock %}
</head>

<body>

  {% block modals %}
  <!-- Modal pour afficher la vidéo -->
  {{ include('component_modal_video.twig') }}
  
  <!-- Modal pour afficher le javascript -->
  {% if has_javascript|default %}
    {{ include('component_modal_javascript.twig') }}
  {% endif %}

  {% if has_python|default %}
    {{ include('component_modal_python.twig') }}
  {% endif %}

  {% block modalExtension %}
  {% endblock %}
  {% endblock %}


  <header>
    {% block header %}{% endblock %}
  </header>

  <main class="container">
    {% block main %}{% endblock %}
  </main>

  <footer>
    {% block footer %}
    <div class="container">
      <p>&copy; 2020 Laurent COOPER. L'ensemble du site est sous licence &nbsp;
        <a href="http://creativecommons.fr/licences/">
          CC BY NC SA
          <img class="ms-3" src="assets/img/cc-by-nc-sa.png" style="height:5ex;vertical-align:middle;">
        </a>
      </p>

    </div>
  </footer>
  {% endblock %}

  {% block bodyExtension %}
  {% endblock %}

</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
  crossorigin="anonymous">
</script>


<script type="text/javascript">
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>

{% block htmlExtension %}
{% endblock %}

</html>