<!-- Modal pour les erreurs -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title" id="errorModalLabel">Erreur dans le script Python</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>

<template id='mes-blocs'>
    <div class="row mb-1">
        <div class="col-lg-12">
            <div class="inside no-collapse"></div>
        </div>
    </div>
</template>

<template id="mon-code">
<pre><code></code>
</pre>
</template>

<template id='mon-python'>
<div class="row mb-2">
    <div class="col-lg-12 mb-2">
        <div class="todo" role="consignes"></div>
    </div>
</div>
<div class="row m-0 mb-2 shadow bg-white py-1">
        <div class="col-xl-6 mb-2">
            <h5>Éditeur Python</h5>
            <div class="mb-2" role="editor"></div>
            <div class="actions">
                <button class="btn btn-light" role="download">
                    <i class="fas fa-download d-md-none d-lg-inline-block d-xl-none"></i>
                    <span class="d-none d-md-inline-block">
                        Télécharger
                    </span>
                </button>
                <button class="btn btn-light disabled" role="restore">
                    <i class="fas fa-redo d-md-none d-lg-inline-block d-xl-none"></i>
                    <span class="d-none d-md-inline-block">
                        Restaurer
                    </span>
                </button>
                <button class="btn btn-light" role="save">
                    <i class="fas fa-save d-md-none d-lg-inline-block d-xl-none"></i>
                    <span class="d-none d-md-inline-block">
                        Sauvegarder
                    </span>
                </button>
                <button class="btn btn-light" role="reload">
                    <i class="fas fa-retweet d-md-none d-lg-inline-block d-xl-none"></i>
                    <span class="d-none d-md-inline-block">
                        Recharger
                    </span>
                </button>
                <button class="btn btn-primary" role="run">
                    <i class="fas fa-play d-md-none d-lg-inline-block d-xl-none"></i>
                    <span class="d-none d-md-inline-block">
                        Éxécuter
                    </span>
                </button>
            </div>
        </div>
        <div class="col-xl-6 mb-2">
            <ul class="nav nav-tabs mb-2" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-controls="console" aria-selected="true">
                        Console
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-controls="graphic" aria-selected="false">
                        Graphisme
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="console" role="result">
                    <pre role="output"></pre>
                </div>
                <div class="tab-pane fade text-center graphic" id="graphic" role="graphic"></div>
            </div>
        </div>
</div>
    
</template>
