<div class="modal fade" id="pythonModal" tabindex="-1" aria-labelledby="pythonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <button id="fullscreen" type="button" class="btn btn-secondary mx-1"><i
                        class="fas fa-expand-alt fa-fw"></i></button>
                <button id="darklight" class="btn btn-secondary mx-1" title="Changer le thème (sombre/lumineux)"><i
                        class="fas fa-adjust fa-fw"></i></button>
                <h5 class="modal-title ms-auto pe-5" id="exampleModalLabel">
                    <img src="assets/img/python-logo.png" width="24px">
                    Éditeur Python
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="consigne-tab" data-bs-toggle="tab" data-bs-target="#consigne"
                                href="#" role="tab" aria-controls="consigne" aria-selected="false">Consigne</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="blockly-tab" data-bs-toggle="tab" data-bs-target="#blockly" href="#"
                                role="tab" aria-controls="blockly" aria-selected="false">Blocs</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor"
                                href="#" role="tab" aria-controls="editor" aria-selected="true">Éditeur</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="shell-tab" data-bs-toggle="tab" data-bs-target="#shell" href="#"
                                role="tab" aria-controls="shell" aria-selected="false">Sortie</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="graphics-tab" data-bs-toggle="tab" data-bs-target="#graphics"
                                href="#" role="tab" aria-controls="graphics" aria-selected="false">Graphisme</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content mt-2">
                        <div class="tab-pane cours afaire" id="consigne" role="tabpanel" aria-labelledby="consigne-tab">
                            <h4>Consignes</h4>
                            <ol class="steps">

                            </ol>
                        </div>
                        <div class="tab-pane" id="blockly" role="tabpanel" aria-labelledby="settings-tab">
                            <div id="blocklyArea">
                                <div id="blocklyDiv"></div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="editor" role="tabpanel" aria-labelledby="editor-tab">
                        </div>
                        <div class="tab-pane  darklighted" id="shell" role="tabpanel" aria-labelledby="shell-tab">
                            <pre class="shellInterior"></pre>
                        </div>
                        <div class="tab-pane" style="justify-content: center;  align-items: center;" id="graphics"
                            role="tabpanel" aria-labelledby="graphics-tab">
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mt-2">
                        <button id="toCodeButton" class="btn btn-success me-2" title="Fabriquer le code">
                            <i class="fas fa-cogs fa-fw"></i> Compiler
                        </button>
                        <button id="run" class="btn btn-primary  me-2" title="Exécuter le script">
                            <i class="fas fa-play fa-w"></i>
                            Exécuter
                        </button>
                        <button id="open" class="btn btn-primary me-2"
                            title="Ouvrir un script, charger un module ou un fichier">
                            <i class="fas fa-folder-open fa-fw "></i>
                            Ouvrir
                        </button>
                        <button id="download" class="btn btn-primary me-2" title="Télécharger le script">
                            <i class="fas fa-download fa-fw"></i>
                            Télécharger le script
                        </button>
                        <button id="reload" class="btn btn-primary me-2" title="Recharger le script initial">
                            <i class="fas fa-sync-alt fa-fw"></i> Réinitialiser
                        </button>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle me-2" type="button" id="localDownload"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Télécharger un fichier
                            </button>
                            <ul id="fileList" class="dropdown-menu" aria-labelledby="localDownload">

                            </ul>
                        </div>
                        <button id="raz" class="btn btn-primary me-2" title="Redémarrer Python">
                            <i class="fas fa-sync-alt fa-fw"></i> Redémarrer
                        </button>

                    </div>

                    <div id="left-div">
                    </div>
                    <div id="right-div">

                    </div>
                    <div id="share_message" style="display: none;">
                        Un lien vers la page de Basthon avec le contenu actuel du script a été créé.
                        <br>
                        <i class="fas fa-exclamation-circle"></i> Attention, partager un script trop long peut ne
                        pas
                        fonctionner avec
                        certains navigateurs.
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer l'éditeur</button>
            </div>

        </div>
    </div>
</div>