<div class="modal fade" id="javascriptModal" tabindex="-1" role="dialog" aria-labelledby="JavascriptModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <button id="webfullscreen" type="button" class="btn btn-secondary mx-1"><i
                        class="fas fa-expand-alt fa-fw"></i></button>
                <button id="darklight" class="btn btn-secondary mx-1" title="Changer le thème (sombre/lumineux)"><i
                        class="fas fa-adjust fa-fw"></i></button>
                <h5 class="modal-title ms-auto pe-5" id="exampleModalLabel">
                    <img src="assets/img/html5-css3.png" width="24px">
                    Éditeur Web
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer la vidéo</button>
            </div>
        </div>
    </div>
</div>