<div class="row">
	<div class="col-sm-12 col-lg-6">
		<iframe id="exampleFrame" src="templates/p5jsExemple.html"></iframe>
	</div>
	<div class="col-sm-12 col-lg-6">
		<div id="htmEditor"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 mt-3">
		<div
			class="buttonRow text-end">
			<!-- Not yet working 	
									<button class="btn-default btn" onclick="examples.downloadExample()">
										Télécharger
									</button>		
									-->
			<button class="btn-default btn" onclick="examples.resetExample()">
				Réinitialiser
			</button>
			<button class="btn-primary btn" onclick="examples.runExample()">
				Éxécuter
			</button>
		</div>
	</div>
</div>
