{% extends 'base.twig.html' %}

{% block headExtension %}

    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/educinfo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/tomorrow-night-bright.min.css" 
        integrity="sha512-kihsljiamrbQ3b3s3TXoAWNSbzbp+gYIeeva81nQwCj/zICdiT/QnKbWTV7DElmAm3mc4vuTR3fo0ToTe2cpNw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js" 
        integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/http.min.js" 
        integrity="sha512-4Rcwpn+xUuCDufCycA9UtpmboCxNHysWy23e45PJBQeh7m6Kno5/oQ4T5SmbmSAAZiDsm/IsX1IJwsOjy6ob0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    {% if has_flashcards %}
    <link rel="stylesheet" href="assets/css/flashcards.css">
    {% endif %}

    {% if css|default %}
        <link href="{{css}}" rel="stylesheet">
    {% endif %}

    {% if has_python|default or has_javascript|default or has_p5|default%}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    {% endif %}

    {%if has_python %}  
        <link rel="stylesheet" type="text/css" href="assets/css/notie.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.2/pako.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.0/base64.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.terminal@2.20.2/js/jquery.terminal.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/jquery.terminal@2.20.2/css/jquery.terminal.min.css" rel="stylesheet" />  
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script src="assets/js/educ-helper.js"></script>

{% endblock %}


{% block header %}
    {% if integrated!='true' %}
        <nav id="navbar-main" class="navbar navbar-expand-md navbar-default fixed-top affix-top navbar-light">
        <div class="container">
            <ul class="nav nav-pills me-3">
                <li class="nav-item dropdown">
                    <a class=" btn btn-light nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false"><small>Sommaire</small></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="index.php" class="dropdown-item">
                                <i class="fa fa-home"></i> Retour à l'accueil du site
                            </a>
                        </li>
                        {% if page_parente is defined %}
                        <li>
                            <a href="{{page_parente}}" class="dropdown-item">
                                <i class="fa fa-indent"></i> Retour à l'introduction
                            </a>
                        </li>
                        {% endif %}
                        {% for entree in sommaire.contenu %}

                        <li class="chapitres">
                            <a class="dropdown-item"
                                href="index.php?page={{entree}}{% if activite is not empty %}&activite={{activite}}{% endif %}">
                                {{pages[entree].titre}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand d-none d-lg-inline me-3" href="index.php"> Informatique au lycée </a>
            <span class="navbar-brand d-none d-sm-inline">
                <a
                    href="index.php?page={{sommaire.contenu[0]}}{% if activite is not empty %}&activite={{activite}}{% endif %}"><small>{{sommaire.titre}}</small></a>
                <small> : {{titre}}</small></span>
            <nav class="ms-auto nav nav-pills flex-row">
                {% if page_precedente != "" %}
                <li>
                    <a class="flex-fill text-lg-center nav-link"
                        href="index.php?page={{page_precedente}}{% if activite is not empty %}&activite={{activite}}{% endif %}">
                        <button class="btn btn-primary navbar-btn" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="{{nom_page_precedente}}" data-placement="bottom">

                            <i class="fa fa-caret-left"> </i> <span
                                class="d-none d-lg-inline">{{nom_page_precedente}}</span>
                        </button></a>

                </li>
                {% endif %}
                {% if page_suivante != "" %}
                <li>

                    <a class="flex-fill text-lg-center nav-link"
                        href="index.php?page={{page_suivante}}{% if activite is not empty %}&activite={{activite}}{% endif %}">
                        <button class="btn btn-primary navbar-btn" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="{{nom_page_suivante}}" data-placement="bottom">
                            <span class="d-none d-lg-inline">{{nom_page_suivante}}</span> <i class="fa fa-caret-right">
                            </i>
                        </button>
                    </a>

                </li>
                {% endif %}
            </nav>
        </div>
    </nav>
    {% endif %}
    {% if integrated=='true' %}
        <style>
        body main {
            padding-top: 5px;
        }
        </style>
    {% endif %}
{% endblock %}

{% block main %}
<div class="row">
    {% block cours %}
    {% endblock %}
</div>
{% if integrated!='true' %}

    {% if page_precedente is not empty or page_suivante is not empty %}
    <div class="row">
        <div class="cours nav-cours d-flex">
            {% if page_precedente != "" %}

            <a class="me-auto"
                href="index.php?page={{page_precedente}}{% if activite is not empty %}&activite={{activite}}{% endif %}">
                <button class="btn btn-primary navbar-btn">
                    <i class="fa fa-caret-left"> </i> {{nom_page_precedente}}
                </button></a>

            {% endif %}

            {% if page_suivante != "" %}

            <a class="ms-auto"
                href="index.php?page={{page_suivante}}{% if activite is not empty %}&activite={{activite}}{% endif %}">
                <button class="btn btn-primary navbar-btn">
                    {{nom_page_suivante}} <i class="fa fa-caret-right"> </i>
                </button>
            </a>

            {% endif %}
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block htmlExtension %}
<script src="assets/js/videos.js"></script>
<script>hljs.highlightAll();</script>


{% if has_python|default %}
<!-- Chargement de Basthon -->
<script>
    window.basthonRoot="assets/js/basthon/";
    //window.basthonKernel="python3-old";
</script>
<script src="assets/js/basthon/bundle.js"></script>
{% endif %}

{% if has_javascript|default or has_python|default %}
<!-- blockly -->
<script src="assets/js/blockly.js"></script>
<script src="assets/js/blockly/blockly_compressed.js"></script>
<script src="assets/js/blockly/blocks_compressed.js"></script>
<script src="assets/js/blockly/msg/js/fr.js"></script>
<script src="assets/js/blockly/python_compressed.js"></script>
{% endif %}

{% if has_javascript|default or has_python|default or has_p5|default %}
<!-- Éditeur -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
{% endif %}

{% if has_javascript|default %}
<script src="assets/js/webExemples.js"></script>
{% endif %}

{% if has_python|default %}

<!-- Éditeur -->
<script src="assets/js/editor.js"></script>

<!-- sortie -->
<script src="assets/js/videos.js"></script>
<script src="assets/js/shell.js"></script>
<script src="assets/js/graphics.js"></script>

<!-- gestion des erreurs -->
<script src="assets/js/notie.js"></script>

<!-- Initialisation du GUI -->
<script src="assets/js/gui.js"></script>

<script src="assets/js/main.js"></script>

{% endif %}

 {%if has_p5 %}
    
	<script src="assets/js/libraries/p5.min.js" type="text/javascript"></script>
	<script src="assets/js/libraries/p5.sound.js" type="text/javascript"></script>
    <script src="assets/js/p5jsExemples.js" type="text/javascript" charset="utf-8">
    </script>
    <script type="text/javascript">
	    {% verbatim %}
	        $(document).ready( function () {
		{% endverbatim %}	
		    examples.init('{{exemple}}');
		{% verbatim %}
	        });
	    {% endverbatim %}
    </script>

    {% endif %}
{% if has_flashcards %}
<script src="assets/js/flashcards.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.core.min.js"
    integrity="sha512-+wqa4/aOL4vwhL637A4p+6epqhUHDqpEfYJa1+PlzlMf908CSOb3xtIeKwZWh5Q0Q/R2nYUKxH4vvcQg+k8KKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const FC_SOUND_DIRECTORY = "assets/audio/";
</script>
<script>
    const FC_BRAVO_IMG = "assets/img/bravo.png";
</script>
{% endif %}

{% endblock %}