<div class="modal-header bg-primary text-white">
	<button id="webfullscreen" type="button" class="btn btn-secondary mx-1"><i class="fas fa-expand-alt fa-fw"></i></button>
	<h3 class="modal-title ms-auto pe-5">
		{{javascript.title}}
	</h3>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body" style="padding-bottom:70px; overflow-y: auto;">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="consignesTab" href="#consignesEditor" aria-controls="consignesEditor" role="tab"
				data-bs-toggle="tab">
				Consignes
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="htmlTab" href="#htmlEditor" aria-controls="htmEditors" role="tab" data-bs-toggle="tab">
				HTML
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="cssTab" href="#cssEditor" aria-controls="cssEditor" role="tab" data-bs-toggle="tab">
				CSS
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="blocklyTab" href="#blocklyEditor" aria-controls="blocklyEditor" role="tab"
				data-bs-toggle="tab">
				Blocks
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="javascriptTab" href="#javascriptEditor" aria-controls="javascriptEditor" role="tab"
				data-bs-toggle="tab">
				JavaScript
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="resultTab" href="#resultEditor" aria-controls="javascriptEditor" role="tab"
				data-bs-toggle="tab">
				Résultats
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane" id="consignesEditor">
			<div id="modalConsignes" class="cours afaire hidden">
				<h4> Consignes </h4>
				<ol class="steps">
				</ol>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="htmlEditor">
		</div>
		<div role="tabpanel" class="tab-pane" id="cssEditor">
		</div>
		<div role="tabpanel" class="tab-pane" id="blocklyEditor"
			style="min-height:40rem;width:100%;margin-bottom:15px;">
			<div id="blocklyDiv" style="margin-top:15px;"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="javascriptEditor">
		</div>
		<div role="tabpanel" class="tab-pane" id="resultEditor" style="padding-top:15px;">
			<div id="exampleFrameDiv">
				<iframe id="exampleFrame" src="ressources/common/assets/examples/html/empty.html">
				</iframe>
			</div>
		</div>

	</div>

	<div class="clearfix"></div>

	<div class="d-flex justify-content-end mt-2"></div>
		<button id="zipButton" class="btn-light btn">
			<i class="fa fa-download hidden-sm"></i>
			<span class="hidden-xs">Télécharger les fichiers</span>
		</button>
		<button id="restoreButton" class="btn-light btn disabled">
			<i class="fa fa-refresh hidden-sm"></i>
			<span class="hidden-xs">Restaurer</span>
		</button>
		<button id="saveButton" class="btn-light btn">
			<i class="fa fa-floppy-o hidden-sm"></i>
			<span class="hidden-xs">Sauvegarder</span>
		</button>
		<button id="resetButton" class="btn-light btn">
			<i class="fa fa-retweet hidden-sm"></i>
			<span class="hidden-xs">Réinitialiser</span>
		</button>
		<button id="compileButton" class="btn-success btn">
			<i class="fa fa-gears"></i>
			Compiler
		</button>
		<button id="runButton" class="btn-primary btn">
			<i class="fa fa-play"></i>
			Éxécuter
		</button>
	</div>
</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-bs-dismiss="modal"> Fermer l'éditeur </button>
</div>

<script>
	{% if javascript.fichierConsignes is not empty %}
		$.ajax({
			url:'{{javascript.fichierConsignes}}',
			dataType:'text'
		}).done(function(data){
			$('#modalConsignes').removeClass('hidden');
			$('#modalConsignes ol').html(data);
			$('#modalConsignes  pre code').each(function(i, block) {
    			hljs.highlightBlock(block);
  			});
		});
  	{% else %}
      	$('#consignesTab').hide();
	{% endif %}

</script>
