{% extends 'base.twig.html' %}

{% block headExtension %}
<link rel="stylesheet" href="assets/css/ressources.css">
{% endblock %}

{% block header %}
<nav id="navbar-main" class="navbar navbar-expand-md navbar-default fixed-top affix-top navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.php"> Informatique au lycée </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="ms-lg-auto nav nav-pills flex-column flex-md-row">
        <li>
          <a class="flex-lg-fill text-lg-center nav-link {% if category is same as('SNT') %} active {%endif%}" href="index.php?page=SNT"> SNT </a>
        </li>
        <li>
          <a class="flex-lg-fill text-lg-center nav-link {% if category is same as('NSI1') %} active {%endif%}" href="index.php?page=NSI1"> NSI 1ère </a>
        </li>
        <li>
          <a class="flex-lg-fill text-lg-center nav-link {% if category is same as('NSIT') %} active {%endif%}" href="index.php?page=NSIT"> NSI Terminale </a>
        </li>
        <li>
          <a class="flex-lg-fill text-lg-center nav-link {% if category is same as('GEN') %} active {%endif%}" href="index.php?page=GEN"> Enseignement général
          </a>
        </li>
        <li>
          <a class="flex-lg-fill text-lg-center nav-link {% if category is same as('PROFS') %} active {%endif%}" href="index.php?page=PROFS"> Enseignants
          </a>
        </li>
      </nav>
    </div>
  </div>
</nav>
{% endblock %}

{% block main %}
<div class='container'>
  {% for categorieId, categorie in categories %}
  {% if category is same as(categorieId) %}
  <div class="row">
    <div class="col-sm-12">
      <div id="category-header" class="p-3 bg-light">
        {% block introduction %}
        <h2>
          {{categorie.titre|raw}}</h2>
        <p style="text-align:justify;" class="mb-0">
          {{categorie.commentaire}}</p>
        {% endblock %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% for sectionId, section in sections %}
  {% if section.category is same as(category) %}
  {% set compteur = 0 %}
  <div class="row">
    <div class="mt-2 mb-1 col-sm-12">
      <div class="p-3 bg-light section-header">
        <h3>{{section.titre}}</h3>
        <p class="mb-0">
          {{section.commentaire}}
        </p>
      </div>
    </div>
  </div>
  <!-- les activites -->
  <div class='row'>
    {% for ressource in activites %}
    {% if ressource.section is same as(sectionId) %}
    {% if ressource.category is same as(category) %}
    {% set passed = false %}
    <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
      <div class="card">
        {% if ressource.image is defined %}
        <img class="mx-auto mt-1 mb-1" src="{{ressource.image}}" style="max-width:80%;max-height:6em;" alt="">
        {% endif %}
        {% if ressource.icon is defined %}
        <div class="mt-1 mb-1 text-center" >
          <i class="fa-4x {{ressource.icon}}"></i>
        </div>
        {% endif %}
        {% if ressource.youtubeId is not empty %}
        <div class="youtube text-center m-1" data-bs-toggle="modal" data-video-id="{{ressource.youtubeId}}"
          data-video-title="{{ressource.titre}}" data-bs-target="#videoModal">
          <img class="img img-thumbnail" src="assets/img/movie.jpg" width="240" height="185">
          <div class="circle"></div>
        </div>
        {% endif %}
        {% if ressource.arteTVId is not empty %}
        <div class="arteTV text-center m-1" data-bs-toggle="modal" data-video-id="{{ressource.arteTVId}}"
          data-video-thumbnail={{ressource.arteTVthumbnail}}
          data-video-title="{{ressource.titre}}" data-bs-target="#videoModal">
          <img class="img img-thumbnail" src="assets/img/movie.jpg" width="240" height="185">
          <div class="circle"></div>
        </div>
        {% endif %}
         {% if ressource.appsTubeId is not empty %}
        <div class="appsTube text-center m-1" data-bs-toggle="modal" data-video-id="{{ressource.appsTubeId}}"
          data-video-thumbnail={{ressource.appsTubeThumbnail}}
          data-video-title="{{ressource.titre}}" data-bs-target="#videoModal">
          <img class="img img-thumbnail" src="assets/img/movie.jpg" width="240" height="185">
          <div class="circle"></div>
        </div>
        {% endif %}
        <div class="card-body">
          <h6 class="card-title">{{ressource.titre}}
            {% if ressource.auteur is not empty %}
            <br><small>{{ressource.auteur}}</small>
            {%endif%}
          </h6>
          <p class="card-text ressource-text">
            {{ressource.commentaire|raw}}
          </p>
          {% if ressource.ps is not empty %}
          <p>
            <em>
              <small>
                PS :
                {{ressource.ps}}
              </small>
            </em>
          </p>
          {% endif %}
          {% if ressource.URL is not empty %}
          <p class="mb-0 text-end">
            <a href="{{ressource.URL}}" target="_blank" class="btn btn-primary">visiter le site</a>
          </p>
          {% endif %}

          {% if ressource.level is defined %}
          <p class="mt-1 mb-0">
            <em>
              <small>difficulté :
                {{ressource.level}}</small>
            </em>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% set passed = true %}

    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}

{% block htmlExtension %}
<script src="assets/js/videos.js"></script>
{% endblock %}