{% extends 'cours-python.twig.html' %}

{% block cours %}
        <div class="cours">
            <h3> Essai de fenêtre modale Python </h3>
            <h4> Sortie en mode texte</h4>
            <p>
                On peut avoir une fenêtre modale avec un noyau Basthon pour Python qui comprend plusieurs choses.
                Dans la version la plus simple, on a une fenêtre seule avec juste l'éditeur et
                la sortie texte. Voyez en cliquant sur le bouton ci dessous.
            </p>
            <div class="essais">
                <button type="button" data-has-graphics="false" data-python-id="console"
                    data-python-url="ressources/common/python/default-console.py"
                    class="btn btn-primary btn-python">
                    Lancer l'éditeur avec une sortie console seule
                </button>
            </div>
        </div>
        <div class="cours remarque">
            Quand on utilise la fenêtre modale python, cliquer sur éxécuter fait passer à la sortie immédiatement.
        </div>
        <div class="cours">
            <h4> Sortie graphique </h4>
            <p>
                On peut aussi avoir un éditeur avec la sortie graphique seule, pour utiliser p5 par exemple
            </p>
            <div class="essais">
                <button type="button" data-has-shell="false" data-python-id="graphics"
                data-python-url="ressources/common/python/default-graphic.py"
                    class="btn btn-primary btn-python">
                    Lancer l'éditeur Python avec une sortie graphique seule
                </button>
            </div>
        </div>
        <div class="cours">
            <h4> Sortie combinée et blockly </h4>
            <p>
                On peut aussi combiner les deux, et on peut même rajouter une interface blockly qui permet de faire des
                blocs que l'on traduit ensuite en python. On peut même personnaliser la boite à outil blockly
                pour se limiter à certains éléments du langage.
            </p>
            <div class="alert alert-danger">
                Lorsque l'on interrompt le déroulement d'une application p5, une erreur est générée, mais qui est sans
                conséquence.
            </div>
            <div class="essais">
                <button type="button" data-has-blockly="true" data-python-id="blockly"
                    data-consigne-url="templates/consignes/consigne-blockly.html" data-active-tab="blockly"
                    class="btn btn-primary btn-python">
                    Lancer l'éditeur Python avec blockly
                </button>
            </div>
        </div>
        <div class="cours conclusion">
            Blockly peut être ou pas inséré dans le module python.
        </div>

        <script>
            if ((typeof (localStorage) !== "undefined") && "blockly_py_src" in localStorage) {
                localStorage.removeItem('blockly_py_src');
            }
            if ((typeof (localStorage) !== "undefined") && "console_py_src" in localStorage) {
                localStorage.removeItem('console_py_src');
            }
            if ((typeof (localStorage) !== "undefined") && "graphic_py_src" in localStorage) {
                localStorage.removeItem('graphic_py_src');
            }
        </script>
{% endblock %}

