@import url("https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css");

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Computer Modern Serif", serif,'Muli', 'Helvetica', 'Arial', 'sans-serif';
    font-size: large;
    text-justify: auto;
    text-align: justify;
}


footer {
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

footer .container {
    background-color: #222222;
    padding-top : 16px;
    padding-bottom : 16px;
}

footer p {
    font-size: 12px;
    margin:0;
}

div.circle {
    background-image: url("../img/play.png");

    width: 72px;
    height: 72px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
}

div.youtube, div.dailymotion, div.arteTV, div.appsTube {
    position: relative;
    cursor: pointer;
}

.modal-header{
    padding: 0.5rem 1rem;
}

/* Pour les ressources */

.ressource-text {
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens : auto;
    hyphens: auto;
    text-align: justify;
}

/* Pour le html */

.aceEditor {
    margin-top:1.5rem;
    min-height:50vh;
    margin-bottom:.5rem
   }
#htmlEditor, #javascriptEditor, #cssEditor, #consignesEditor {
    margin-top:1.5rem;
    min-height:50vh;
    margin-bottom:.5rem
   }
#exampleFrame {
    min-height:50vh;
    margin:auto;
    text-align:center;
    width:100%
   }

/* Prevent bootstrap fluid table */
table.non-fluid {
    width:auto !important;
}