html,body {
    min-height: 100vh;
}

main.container {
    border-left: 1px solid #666;
    border-right: 1px solid #666;   
    min-height: 100vh; 
    min-height: calc(100vh - 18ex); 
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.97);
}

img {
    max-width: 100%;
}

header .container {
	background-color: #222222;
	padding-top: 16px;
	padding-bottom: 16px;
}

header {
	color: rgba(255, 255, 255);
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

h1 {
    text-align: center;
    margin-top : 1rem;
    border-top : 2px solid black;
    border-bottom : 2px solid black;
    margin-bottom: 0.5rem;
}

h2 {
    text-align: center;

    border-bottom : 1px solid black;
}

h3 {
    border-bottom : 1px solid #aaaaaa;
}

em {
    color : #8b8b8b;
    font-family: 'Parisienne', cursive;
}
footer p {
    margin-bottom: 0;
}
