@import url('fira_code.css');

body {
    background-image: url('../img/fond-cours.png');
    background-attachment: fixed;
    counter-reset: ch3 0 ch4 0 chapitre 0;
}

.table-nonfluid {
    width: auto !important;
    margin-left:auto;
    margin-right:auto;
 }

 /* Navigation */

#navbar-main .container {
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
    padding-top: 0.5rem;
    margin-top: -0.5rem;
    background-color: #ffffff;
}


.navbar .dropdown-item {
    font-weight: lighter;
}

.navbar-brand {
    font-size: 1rem;
    font-weight: lighter;
}

.navbar small {
    font-size: 0.8rem;
    font-style: italic;
}

li.chapitres a::before {
    content: counter(chapitre);
    display: inline;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    padding: 5px 9px;
    margin-right: 0.5ex;
    counter-increment: chapitre;
}


.nav-cours button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    ;
}

/* Partie principale */

p a::before {
    color: #0d6efd;
    text-align: left;
    text-indent: 0;
    vertical-align: initial;
    display: inline-block;
    font-family: bootstrap-icons !important;
    content: "\f3ee";
    margin-right: 0.5ex;
    line-height: 1;
}

p a.youtube::before {
    color: #0d6efd;
    text-align: left;
    text-indent: 0;
    vertical-align: initial;
    display: inline-block;
    font-family: bootstrap-icons !important;
    content: "\f3c3";
    margin-right: 0.5ex;
    line-height: 1;
}

p a {
    text-decoration: none;
}

main {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100%;
}

footer {
    margin-top: -63px;
}

#category-header {
    border: 2px solid #ccc;
    border-radius: .5rem;
    background-color: #dbe0e9 !important;
}

.section-header {
    border: 2px solid #eee;
    border-radius: .5rem;
}

p.card-text {
    font-size: 0.9rem;
}

h6.card-title {
    border-bottom: 1px solid #ddd;
}

h6 small {
    color: #aaa;
    font-style: italic;
}

/* Paragraphes de cours */

.cours {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.cours h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: lighter;
    margin: 0;
}

.cours h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: lighter;
    border-bottom: 1px solid #aaa;
    counter-reset: ch4 0;
}


.cours h3::before {
    counter-increment: ch3;
    content: counter(ch3) '. ';
}

.cours h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    font-style: italic;
}


.cours h4::before {
    counter-increment: ch4;
    /* content: counter(ch3) "."counter(ch4, lower-alpha) " "; */
}


div.cours {
    background-color: #FFFFFF;
    background-color: rgb(255, 255, 255, 0.97);
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-top: 1ex;
    margin-bottom: 1ex
}

div.cours>p {
    margin-top: 1ex;
    text-align: justify;
    text-indent: 1ex;
}

div.cours .card-text {
    text-align: justify;
    text-indent: 1ex;
}

/* div à mettre en évidence */

div.todo,
div.exemple,
div.retenir,
div.remarque,
div.attention,
div.correction {
    margin-top:0.25rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border: 3px solid #666;
    padding-bottom: 0.25rem;
    border-radius: 10px;
}

div.todo>h6,
div.exemple>h6,
div.retenir>h6,
div.remarque>h6,
div.attention>h6,
div.correction>h6 {
    font-size: 1.2 rem;
    margin: 0 -1rem;
    margin-bottom: 1rem;
    text-align: right;
    padding-right: 2ex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 7px 7px 0 0;
}

div.todo {
    background-color: rgb(255, 241, 164);
    border-color: #e0b056;
}

div.todo>h6 {
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.97);
}

div.todo>h6::before {
    color: rgb(255,241,164);
    content: "\efdd";
    font-family: 'remixicon' !important;
    font-style: normal;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.25rem;
}

div.exemple {
    background-color: rgb(153, 255, 150);
    background-color: rgba(153, 255, 150, 0.97);
    border-color: #aaebaa;
}

div.exemple>h6 {
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.97);
}

div.exemple>h6::before {
    color: rgb(153, 255, 150);
    color: rgba(153, 255, 150, 0.7);
    content: "\f0d1";
    font-family: 'remixicon' !important;
    font-style: normal;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.25rem;
}

div.retenir {
    background-color: rgb(150, 251, 255);
    background-color: rgba(150, 251, 255, 0.97);
    border-color:rgb(120, 186, 189)
}

div.retenir>h6 {
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.97);
}

div.retenir>h6::before {
    color: rgb(150, 251, 255);
    color: rgba(150, 251, 255, 0.7);
    content: "\f032";
    font-family: 'remixicon' !important;
    font-style: normal;
    font-size: 1.33rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.remarque {
    background-color: rgb(160, 170, 170);
    background-color: rgba(160, 170, 170, 0.97);
    border-color: rgb(128, 128, 128);
}

div.remarque>h6 {
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.97);
}

div.remarque>h6::before {
    color: rgb(61, 61, 61);
    color: rgba(61, 61, 61, 0.7);
    content: "\eea9";
    font-family: 'remixicon' !important;
    font-style: normal;
    font-size: 1.33rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.attention {
    background-color: rgb(247, 123, 123);
    background-color: rgba(247,123,123, 0.97);
    border-color:rgb(160, 96, 96);
}

div.attention>h6 {
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.97);
}

div.attention>h6::before {
    color: rgb(240, 61, 61);
    color: rgba(240, 61, 61, 0.7);
    content: "\ea1d";
    font-family: 'remixicon' !important;
    font-style: normal;
    font-size: 1.33rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.correction {
    margin-top : 1ex;
    background-color: rgb(159, 172, 190);
    background-color: rgba(159,172,190, 0.97);
    border-color:rgb(10,91,219);
}

div.correction>h6 {
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.97);
}

div.correction>h6::before {
    color: rgb(255,241,164);
    content: "\efdd";
    font-family: 'remixicon' !important;
    font-style: normal;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.25rem;
}
/* tableau spécial */

table.iptable {
    border-color: black;
}

table.iptable tr td {
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;

}

table.iptable tr td:first-child {
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Partie Modale Python */

/* bouton de lancement */
div.essais {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

#consigne {
    float:none;
    width: 100%;
    height: 35rem;
    height: calc(100vh - 20.5rem);
    min-height:15rem;
    border-radius: 0.6vw;
    margin: 0px;
    padding-top: 0px;
    font-size: 10pt;
    overflow: auto;
}

#blocklyArea{
    width : 100%;
    height: 35rem;
    height: calc(100vh - 20.5rem);
    min-height:15rem;
}

.blocklyWidgetDiv , .blocklyTooltipDiv , .blocklyDropDownDiv {
    position: absolute;
    display: none;
   z-index: 9999 !important;
}

#editor {
    float:none;
    width: 100%;
    height: 35rem;
    height: calc(100vh - 20.5rem);
    min-height:15rem;
    border-radius: 0.6vw;
    margin: 0px;
    padding-top: 0px;
    font-family: "Fira Code";
    font-size: 13pt;
}

#shell {
    position: relative;
    width: 100%;
    height: 35rem;
    height: calc(100vh - 20.5rem);
    min-height:15rem;
    float: none;
    resize: none;
    font-family: 'Fira Code',Consolas,Monaco,"Lucida Console",Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,"Courier New", monospace;
    font-size: 12pt;
    font-weight: lighter;
    margin: 0px;
    border-radius: 0.6vw;
    border-width: 0px;
}

.shellInterior {
    border : 1px solid #aaa;
    border-radius : 10px;
    margin :0;
    padding : 0.5rem;
    min-height : 100%;
}

.terminal {
    --size: 1.333;
}

#graphics {
    position: relative;
    width: 100%;
    height: 35rem;
    height: calc(100vh - 20.5rem);
    min-height:15rem;
    float: none;
    flex: initial;
    background-color: #eee;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 0px;
    border-style: dotted;
    border-color: #272822;
    border-radius: 0.6vw;
    border-width: 0.25vw;
    font-size: 12pt;
    overflow: auto;
}

/* erreur dans la modal */

#pythonModal .alert pre {
    margin:0;
}


/* Les consignes dans les modales */
div.afaire {
    font-size: 16px;
    color: #111;
    background: rgba(255, 255, 200, 0.75);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-bottom: 0;
    border-radius: 10px
}

div.afaire h2 {
    font-size: 2em;
    margin: 35px 0 5px 0
}

div.afaire h3 {
    font-size: 1.8em;
    margin: 30px 0 5px 0
}

div.afaire h4 {
    font-size: 1.5em;
    margin: 25px 0 5px 0
}

div.afaire h5 {
    font-size: 1.2em;
    margin: 20px 0 5px 0;
    font-weight: bold
}

div.afaire h6 {
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0 5px 0
}

div.afaire ol.steps {
    list-style-type: none;
    padding-left: 60px;
    margin: 10px 0 10px 0;
    counter-reset: step-counter;
}

div.afaire ol.steps>li {
    position: relative;
    margin: 0 0 8px 0;
    min-height: 40px
}

div.afaire ol.steps>li::before {
    transform: scale(0.9) translateY(-25%);
}


div.afaire ol.steps>li h6 {
    font-size: 1.5em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6)
}

div.afaire ol.steps>li p {
    line-height: 110%
}

div.afaire ol.steps>li:before {
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    left: -60px;
    font-size: 16px;
    border: solid 2px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 4px 10px;
    opacity: .5;
    top: 2px
}

div.afaire a {
    color: #357548
}

div.afaire a:hover {
    color: #246036
}

div.afaire p,
div.afaire li {
    color: rgba(0, 0, 0, 0.9)
}

div.afaire p {
    line-height: 125%
}

div.afaire .tip {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 14px;
    border-radius: 2px
}

div.afaire hr {
    border: none;
    border-bottom: solid 2px #C9B45B;
    margin: 25px 0
}

div.afaire p,
div.afaire ol,
div.afaire ul {
    margin: 10px 0 20px 0
}

div.afaire li {
    margin: 0 0 10px 0
}

div.afaire img {
    display: block;
    margin: 5px 0 10px;
    border: solid 5px white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}
