@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("fira_code.css");
html {
  font-size: 14px;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(228, 228, 228) 50%, rgb(255, 255, 255) 100%);
  background-image: url("../img/fond-cours.png");
  background-attachment: fixed;
  counter-reset: ch3 0 ch4 0 chapitre 0;
  color: #000000;
  /* code . Why does reboot give pink color to code ??? */
  /* Navigation */
  /* Programmation avec Basthon */
  /* helpers */
  /* Modal */
}
body code {
  color: #eee;
  background-color: #333;
  padding: 0 0.2em;
}
body #navbar-main .container {
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding-bottom: 0.5rem;
  margin-bottom: -0.5rem;
  padding-top: 0.5rem;
  margin-top: -0.5rem;
  background-color: #ffffff;
}
body .navbar .dropdown-item {
  font-weight: lighter;
}
body .navbar-brand {
  font-size: 1rem;
  font-weight: lighter;
}
body .navbar small {
  font-size: 0.8rem;
  font-style: italic;
}
body li.chapitres a::before {
  content: counter(chapitre);
  display: inline;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  padding: 5px 9px;
  margin-right: 0.5ex;
  counter-increment: chapitre;
}
body .nav-cours button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
body main {
  padding-top: 75px;
  padding-bottom: 65px;
  min-height: 100%;
}
body footer {
  margin-top: -63px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
body h1 {
  font-weight: 100;
}
body .row > bloc-cours,
body .row > bloc-todo,
body .row > bloc-attention,
body .row > bloc-retenir,
body .row > bloc-info,
body .row > bloc-remarque {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
body div.cours {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.97);
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0.5rem;
}
body div.cours h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: lighter;
  margin: 0;
}
body div.cours h3 {
  font-size: 1.8rem;
  font-weight: lighter;
  margin-right: 0.2rem;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  font-weight: lighter;
  border-bottom: 1px solid #aaa;
  counter-reset: ch4;
}
body div.cours h3::before {
  counter-increment: ch3;
  content: counter(ch3) ". ";
}
body div.cours h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
  font-style: italic;
}
body div.cours h4::before {
  counter-increment: ch4;
  /* content: counter(ch3) "."counter(ch4, lower-alpha) " "; */
}
body div.cours pre {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body div.abstract {
  padding: 0 1.3rem;
  border: 1.5px solid #bbc98f;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #fbfef0;
}
body div.abstract h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #c2f322;
  background-color: #eafbb3;
  color: #000;
}
body div.abstract > h6::before {
  content: "\f41f";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.resume {
  padding: 0 1.3rem;
  border: 1.5px solid #bbc98f;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #fbfef0;
}
body div.resume h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #c2f322;
  background-color: #eafbb3;
  color: #000;
}
body div.resume > h6::before {
  content: "\f41f";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.note {
  padding: 0 1.3rem;
  border: 1.5px solid #7996ca;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #eaf2fe;
}
body div.note h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #075df3;
  background-color: #97bcfc;
  color: #000;
}
body div.note > h6::before {
  content: "\f46b";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.info {
  padding: 0 1.3rem;
  border: 1.5px solid #7996ca;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #eaf2fe;
}
body div.info h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #075df3;
  background-color: #97bcfc;
  color: #000;
}
body div.info > h6::before {
  content: "\f46b";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.remarque {
  padding: 0 1.3rem;
  border: 1.5px solid #7996ca;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #eaf2fe;
}
body div.remarque h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #075df3;
  background-color: #97bcfc;
  color: #000;
}
body div.remarque > h6::before {
  content: "\f46b";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.tip {
  padding: 0 1.3rem;
  border: 1.5px solid #686e75;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #e6e7e9;
}
body div.tip h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #393d42;
  background-color: #828992;
  color: #000;
}
body div.tip > h6::before {
  content: "\f18a";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.exemple {
  padding: 0 1.3rem;
  border: 1.5px solid #90cc99;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #f0fff2;
}
body div.exemple h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #1bff3c;
  background-color: #b4ffbf;
  color: #000;
}
body div.exemple > h6::before {
  content: "\f52a";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.todo {
  padding: 0 1.3rem;
  border: 1.5px solid #c5cc62;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #fdffe5;
}
body div.todo h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #d2e100;
  background-color: #f6ff7b;
  color: #000;
}
body div.todo > h6::before {
  content: "\f604";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.afaire {
  padding: 0 1.3rem;
  border: 1.5px solid #c5cc62;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #fdffe5;
}
body div.afaire h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #d2e100;
  background-color: #f6ff7b;
  color: #000;
}
body div.afaire > h6::before {
  content: "\f604";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.consigne {
  padding: 0 1.3rem;
  border: 1.5px solid #c5cc62;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #fdffe5;
}
body div.consigne h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #d2e100;
  background-color: #f6ff7b;
  color: #000;
}
body div.consigne > h6::before {
  content: "\f604";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.correction {
  padding: 0 1.3rem;
  border: 1.5px solid #9e57ca;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #f4e2fe;
}
body div.correction h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #8004cc;
  background-color: #c66dfc;
  color: #000;
}
body div.correction > h6::before {
  content: "\f43e";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.retenir {
  padding: 0 1.3rem;
  border: 1.5px solid #5096ca;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #e0f1ff;
}
body div.retenir h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #0371c5;
  background-color: #64bbfd;
  color: #000;
}
body div.retenir > h6::before {
  content: "\f1e2";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.attention {
  padding: 0 1.3rem;
  border: 1.5px solid #cc9d37;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #fff3da;
}
body div.attention h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #ab7500;
  background-color: #ffc445;
  color: #000;
}
body div.attention > h6::before {
  content: "\f67b";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.succes {
  padding: 0 1.3rem;
  border: 1.5px solid #00cc00;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #ccffcc;
}
body div.succes h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #006600;
  background-color: #00ff00;
  color: #000;
}
body div.succes > h6::before {
  content: "\f633";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.echec {
  padding: 0 1.3rem;
  border: 1.5px solid #cc0000;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #ffcccc;
}
body div.echec h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #660000;
  background-color: #ff0000;
  color: #000;
}
body div.echec > h6::before {
  content: "\f62a";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.danger {
  padding: 0 1.3rem;
  border: 1.5px solid #cc0000;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #ffcccc;
}
body div.danger h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #660000;
  background-color: #ff0000;
  color: #000;
}
body div.danger > h6::before {
  content: "\f67b";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.bug {
  padding: 0 1.3rem;
  border: 1.5px solid #cc0000;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #ffcccc;
}
body div.bug h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #660000;
  background-color: #ff0000;
  color: #000;
}
body div.bug > h6::before {
  content: "\f1dc";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.citation {
  padding: 0 1.3rem;
  border: 1.5px solid #9f9f9f;
  border-width: 1.5px 0;
  margin-bottom: 0.5rem;
  background-color: #f4f4f4;
}
body div.citation h6 {
  margin: 0 -1.3rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #7b7b7b;
  background-color: #c7c7c7;
  color: #000;
}
body div.citation > h6::before {
  content: "\f255";
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.25rem;
}
body div.essais {
  padding: 1rem 1.2rem;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
body .table-nonfluid {
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}
body p a {
  text-decoration: none;
}
body .no-collapse::after,
body .no-collapse::before {
  display: table;
  content: "";
}
body div.modal {
  background-color: rgba(228, 228, 228, 0.2);
  /* erreur dans la modal */
  /* Les consignes dans les modales */
}
body div.modal .modal-content {
  background-color: #EEE;
}
body div.modal #consigne {
  float: none;
  width: 100%;
  height: 35rem;
  height: calc(100vh - 20.5rem);
  min-height: 15rem;
  border-radius: 0.6vw;
  margin: 0px;
  padding-top: 0px;
  font-size: 10pt;
  overflow: auto;
}
body div.modal #blocklyArea {
  width: 100%;
  height: 35rem;
  height: calc(100vh - 20.5rem);
  min-height: 15rem;
}
body div.modal .blocklyWidgetDiv,
body div.modal .blocklyTooltipDiv,
body div.modal .blocklyDropDownDiv {
  position: absolute;
  display: none;
  z-index: 9999 !important;
}
body div.modal #editor {
  float: none;
  width: 100%;
  height: 35rem;
  height: calc(100vh - 20.5rem);
  min-height: 15rem;
  border-radius: 0.6vw;
  margin: 0px;
  padding-top: 0px;
  font-family: "Fira Code", Consolas, Monaco, "Lucida Console", Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, "Courier New", monospace;
  font-size: 13pt;
}
body div.modal #shell {
  position: relative;
  width: 100%;
  height: 35rem;
  height: calc(100vh - 20.5rem);
  min-height: 15rem;
  float: none;
  resize: none;
  font-family: "Fira Code", Consolas, Monaco, "Lucida Console", Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, "Courier New", monospace;
  font-size: 12pt;
  font-weight: lighter;
  margin: 0px;
  border-radius: 0.6vw;
  border-width: 0px;
}
body div.modal .shellInterior {
  border: 1px solid #aaa;
  border-radius: 10px;
  margin: 0;
  padding: 0.5rem;
  min-height: 100%;
}
body div.modal .terminal {
  --size: 1.333;
}
body div.modal #graphics {
  position: relative;
  width: 100%;
  height: 35rem;
  height: calc(100vh - 20.5rem);
  min-height: 15rem;
  float: none;
  flex: initial;
  background-color: #eee;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 0px;
  border-style: dotted;
  border-color: #272822;
  border-radius: 0.6vw;
  border-width: 0.25vw;
  font-size: 12pt;
  overflow: auto;
}
body div.modal #pythonModal .alert pre {
  margin: 0;
}
body div.modal div.afaire {
  font-size: 16px;
  color: #111;
  background: rgba(255, 255, 200, 0.75);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding-bottom: 0;
  border-radius: 10px;
}
body div.modal div.afaire h2 {
  font-size: 2em;
  margin: 35px 0 5px 0;
}
body div.modal div.afaire h3 {
  font-size: 1.8em;
  margin: 30px 0 5px 0;
}
body div.modal div.afaire h4 {
  font-size: 1.5em;
  margin: 25px 0 5px 0;
}
body div.modal div.afaire h5 {
  font-size: 1.2em;
  margin: 20px 0 5px 0;
  font-weight: bold;
}
body div.modal div.afaire h6 {
  font-size: 1em;
  font-weight: bold;
  margin: 20px 0 5px 0;
}
body div.modal div.afaire ol.steps {
  list-style-type: none;
  padding-left: 60px;
  margin: 10px 0 10px 0;
  counter-reset: step-counter;
}
body div.modal div.afaire ol.steps > li {
  position: relative;
  margin: 0 0 8px 0;
  min-height: 40px;
}
body div.modal div.afaire ol.steps > li::before {
  transform: scale(0.9) translateY(-25%);
}
body div.modal div.afaire ol.steps > li h6 {
  font-size: 1.5em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}
body div.modal div.afaire ol.steps > li p {
  line-height: 110%;
}
body div.modal div.afaire ol.steps > li:before {
  content: counter(step-counter);
  counter-increment: step-counter;
  position: absolute;
  left: -60px;
  font-size: 16px;
  border: solid 2px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 4px 10px;
  opacity: 0.5;
  top: 2px;
}
body div.modal div.afaire a {
  color: #357548;
}
body div.modal div.afaire a:hover {
  color: #246036;
}
body div.modal div.afaire p,
body div.modal div.afaire li {
  color: rgba(0, 0, 0, 0.9);
}
body div.modal div.afaire p {
  line-height: 125%;
}
body div.modal div.afaire .tip {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 14px;
  border-radius: 2px;
}
body div.modal div.afaire hr {
  border: none;
  border-bottom: solid 2px #C9B45B;
  margin: 25px 0;
}
body div.modal div.afaire p,
body div.modal div.afaire ol,
body div.modal div.afaire ul {
  margin: 10px 0 20px 0;
}
body div.modal div.afaire li {
  margin: 0 0 10px 0;
}
body div.modal div.afaire img {
  display: block;
  margin: 5px 0 10px;
  border: solid 5px white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
body bloc-python div[role=consignes] pre {
  margin-bottom: 0;
}
body bloc-python h3 {
  margin-top: 0.4rem;
  border-bottom: 1px solid #555;
}
body bloc-python div.graphic {
  margin: auto;
  padding: 0.5rem;
}
body bloc-python div.graphic canvas {
  margin: auto;
  background-color: white;
}
body bloc-python div.graphic canvas:first-child {
  background: none;
}
body bloc-python div[role=result] {
  border-radius: 10px;
  padding: 10px;
  min-height: 30rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #AAA;
  color: #252;
  font-family: "Courier New", Courier, monospace;
}
body bloc-python div[role=result].pyexec-small {
  min-height: 7.5rem;
}
body bloc-python div[role=result].pyexec-fixed {
  height: 30rem;
  overflow: auto;
}
body bloc-python div[role=result].pyexec-fixed.pyexec-small {
  height: 7.5rem;
  overflow: auto;
}
body bloc-python div[role=graphic] {
  border-radius: 10px;
  padding: 10px;
  min-height: 30rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #EEE;
}
body bloc-python div[role=graphic] svg {
  padding: 0 !important;
  transform: scale(0.9);
}
body bloc-python div[role=graphic].pyexec-small {
  min-height: 7.5rem;
}
body bloc-python div[role=editor] {
  margin-top: 0.3rem;
  min-height: 27.5rem;
}
body bloc-python div.pyexec-small[role=editor] {
  min-height: 5rem;
}
body bloc-python div.actions {
  text-align: right;
}
body bloc-python div.actions button {
  margin-bottom: 0.3rem;
  font-size: smaller;
}
body bloc-python canvas {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
}
body div.inside > p {
  margin-top: 0.5rem !important;
}

img {
  max-width: 100%;
}