html,body {
    min-height: 100vh;
}

.container main {
    border-left: 1px solid #666;
    border-right: 1px solid #666;   
    min-height: 100vh; 
    min-height: calc(100vh - 5ex); 
}

body {
    background-image: url("../img/swirl_pattern.png");
    background-repeat: repeat;
    counter-reset: h2 h3;
}

body > .container, footer > .container {
    background-color: #ffffff;
    background-color:  rgba(255, 255, 255, 0.7);
    padding : 0 2rem;
    padding-bottom : 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

h1 {
    text-align: center;
    margin-top : 1rem;
    border-top : 1px solid black;
}

h2 {
    text-align: center;

    border-bottom : 1px solid black;
}

h3 {
    border-bottom : 1px solid #aaaaaa;
}

em {
    color : #8b8b8b;
    font-family: 'Parisienne', cursive;
}
footer p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}