@import url('base.css');

body {
    background-image:url('../img/ressources-back.png');
    background-attachment: fixed;
}

#navbar-main .container {
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding-bottom : 0.5rem; 
    margin-bottom: -0.5rem;
    padding-top : 0.5rem;
    margin-top : -0.5rem;
    background-color: #ffffff;
}

main{
    padding-top : 66px;
    padding-bottom : 70px;
    min-height:100%;

    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;    
    background-color: #fffff8;
    background-color: rgba(255,255,248,0.8);

}

footer {
    margin-top: -63px;
}

#category-header {
    border:2px solid #ccc;
    border-radius:.5rem;
    background-color: #dbe0e9 !important;
}

.section-header {
    border:2px solid #eee;
    border-radius:.5rem;
}

p.card-text {
    font-size: 0.9rem;
}

h6.card-title {
    border-bottom : 1px solid #ddd;
}

h6 small{
    color: #aaa;
    font-style:italic;
}